$black: #252525;
$purple: #6C63FF;
$white: #F7F7F7;
$sidebar: #d5d5d51d;
$poppins: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
    min-height: 100vh;
    background-color: $white;
    margin: 0 auto;
    font-family: $poppins;
    display: grid;
    grid-template-columns: 250px 1fr;
    /* width */
    //   grid-template-rows: 80px 1fr;     /* height */
    grid-template-areas:
        "header header"
        "sidebar content";
    grid-template-rows: max-content 1fr;

    header {
        grid-area: header;
        height: max-content;
        border-bottom: 1px solid $black;

        h1 {
            text-align: center;
        }

    }

    .sidebar {
        padding-top: 8px;
        background-color: $sidebar;
        grid-area: sidebar;
        padding-left: 20px;

        button {
            color: black;
            width: 100%;
            display: flex;
            border-style: none;
            background-color: transparent;
            cursor: pointer;
            padding: 5px 0;

            &:hover {
                background-color: #544e4d2c;
                border-radius: 5px;
            }

            span.add {
                margin-left: 16px;
                color: white;
                margin-right: 8px;
                background-color: #d33322;
                border-radius: 50%;
            }

        }

        .projects {
            margin-top: 54px;


            .projectTitle {
                // border: 2px solid $black;
                display: flex;
                align-items: center;
                font-size: 20px;
                font-weight: 500;

                &:hover {
                    background-color: #544e4d2c;
                    border-radius: 5px;
                    cursor: pointer;

                    button {
                        opacity: 1;
                    }
                }

                button {
                    opacity: 0;
                    margin-left: auto;
                    margin-right: 20px;
                    border-style: none;
                    border-radius: 5px;
                    width: min-content;
                    padding: 0px 10px;


                    span {
                        position: relative;
                        font-size: 20px;
                    }
                }
            }

            .addedProjects {
                // border: 1px solid $black;
                button {
                    // position: relative;

                    span::after {
                        content: '#';
                        padding-right: 4px;
                    }
                }
            }
        }
    }

    .content {
        grid-area: content;
    }
}